/** This file is part of Moodle - http://moodle.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 */
/**
 * Section number icon filter - A simple JS based filter to turn number into icon in section,course and activity title
 *
 * @package local_numicon
 * @copyright 2025 TuchSoft <https://tuchsoft.com>
 * @author Mattia Bonzi <mattia@tuchsoft.com>
 * @see https://tuchsoft.com/plugin/moodle/local_numicon <Documentations and tutorials>
 * @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
.numicon-container {
    position: relative;
    display: inline-block;
    margin-right: .25em;
    text-align: center;
    align-self: center;
}

.numicon-icon {
    background-color: currentColor;
    max-height: 1.1em;
    min-width: 1.1em;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
}

.numicon-num {
    font-size: .7em;
    filter: grayscale(100%) invert(100%) brightness(100%) contrast(1000);
    width: 100%;
    font-weight: 650;
    padding: .1em .2em .1em .2em;
}

.numicon-emoji {
    filter: unset !important;
}
